<div class="mt-5">
    <h2 class="text-center">Reset Your Password</h2>
</div>

<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;"  xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Enter your new password" required autofocus />
            </p>
            <p>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm your new password"
                       required oninput="checkPasswordMatch();" />
            </p>
            <p class="text-center">
                <input type="submit" id="submit" style="background: #1c0221; color: #adbdff" value="Change Password" class="btn" />
            </p>
        </div>
    </div>
    <label class="text-warning" th:if="${message!=null}" th:text="${message}"></label>
    <label style="margin-left: 80px" class="text-danger" id="message"></label>
</form>
<script>
    function checkPasswordMatch() {
        const pass1=document.querySelector('#password').value;
        const pass2=document.querySelector('#confirm-password').value;
        if (pass1 !== pass2) {
            document.querySelector('#message').textContent = 'Passwords do not match';
        }
        else{
            document.querySelector('#message').textContent = '';
        }
    }
</script>